<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ElDewrito Scheme Handler" Manufacturer="Pauwlo" Version="1.1" UpgradeCode="ded5ccd7-3e68-437b-a641-6527c57c73a3">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
  </Package>
</Wix>
